*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
        background-image: url("nenoli.png");
        background-repeat: repeat;
        background-size: 1000px;   
}

header
{    
    width: auto;
    height: 200px;
    background-color: #000000a5;
    
}

#logo > img
{
  margin-top: 10px;
    width: 350px;
    height: 150px;
}
#logo
 {
    float: left;
    margin-left: 50px;
 }

 #timkiem input.nuttim
 {
    color: whitesmoke;
    background-color: #54a0ff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
     border-radius: 5px;
     border-style: none;
     font-size: 15px;
 }

 #timkiem input.nuttim:hover
 {
    color: #54a0ff;
    background-color: #2b2b2beb;
 }


 #timkiem input.thanhtim
{
    margin-top: 5%;
    margin-left: 190px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
     border-radius: 5px;
     border-style: none;
}

#dn
{
    position: absolute;
    right: 0;
    display: flex;
    
}

#dn ion-icon
{
   font-size: 35px;
   color: white;
}

#giohang {
    display: flex;
    width: 40px;
    height: max-content;
    position: relative;
    left: 0;
    bottom: 0;
  }
  #giohang .bg-soluong {
    background-color: red;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    color: white;
  }

#dn
{
    margin-right: 15px;
}

#dn a 
{
    color:  #54a0ff;
    font-size: 15px;
}
#dn a:hover
{
    color: #ffffff;
}

nav {
   clear: both;
    background-color:  rgba(28, 28, 28, 0.847);
    padding: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.925);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  
  nav li {
    float: left;
    font-size: 20px;
  }

  nav li #dn a
  {
   font-size: 20px;
  }
  
  nav li a 
  {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  nav li a:hover 
  {
    background-color: #2b2b2beb;
    color: #54a0ff;
   border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(6, 6, 6, 0.564);
  }
nav ul #pgt
{
   margin-left: 30px;
}




.mySlides {
    display: none;

}
.mySlides img {
    vertical-align: middle;

}
.slideshow-container {
  width: 90%;
  position: relative;
  margin: auto;
  height: 90%;
  margin-top: 1%;
  background-color: #717171af;

}


.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade  ;
  animation-duration: 2s;

  
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


menu {
  clear: both;
   background-color:  rgba(195, 7, 7, 0.847);
   padding: 10px;
   box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.925);
 }
 
 menu ul {
   list-style-type: none;
   margin: 0px 100px;
   padding: 0;
   overflow: hidden;
   display: flex;
 }
 
 menu li {
   float: left;
   font-size: 30px;
 }

 menu li #dn a
 {
  font-size: 30px;
 }
 
 menu li a 
 {
   display: block;
   color: rgb(255, 255, 255);
   text-align: center;
   padding: 15px 16px;
   text-decoration: none;
 }
 
 menu li a:hover 
 {
   background-color: #bb6b15eb;
   color: #f5f5f5;
  border-radius: 15px;
   box-shadow: 2px 2px 4px rgba(6, 6, 6, 0.564);
 }
menu ul #pgt
{
  margin: -12px 200px;
  
}

 #hinhqc
{
    width: auto;
    margin: auto;
    height: auto;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 4px 2px 4px 4px #656464a4;
}
 #hinhqc img
{
    scroll-snap-align: center;
}
  
  article#mid
{   
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: auto;
    height: auto;
    background-image: url("hinhnengo.jpg");
}
#mid {
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  
.tieude
{
    flex-basis: 5%;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 4px 5px #fefefeb4;
    background-image: url("bg.jpg");
    padding: 1%;
    padding-left: 36%;
    padding-right: 36%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.427);
}
#mid .sectionhinh img:hover
{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.525);
}

#onmid
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#onmid .sach {
    width: 20%;
    border: 1px solid rgba(115, 74, 74, 0.993);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#onmid .sach:hover
{
    width: 20%;
    border: 2px solid rgba(0, 0, 0, 0.463);
    border-radius: 10px;
    margin-left: 15px;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.523);
    margin-bottom: 10px;
}

#onmid .sach a h3 
{
    font-size: 20px;
    text-align: center;
    color: rgb(1, 0, 0);
}
#onmid .sach img {
    width: 100%;
    height: 62%;
    
}

#onmid .sach p{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 18px;
}


#onmid .sach .mua
{   
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 30px;
    align-items: center;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
}

#onmid .sach .mua:hover
{
    color: rgb(27, 24, 24);
    background-color: rgba(226, 115, 30, 0.916);
    
}


footer {
    background-color: #000000;
    /* màu nền của footer */
    color: #fefefe;
    /* màu chữ của footer */
    padding: 30px 0;
    padding: auto;

    /* khoảng cách giữa phần nội dung và các mép của footer */
}

.container {
    width: 90%;
    /* độ rộng của phần nội dung footer */
    margin: 0 auto;
    /* căn giữa phần nội dung */
}

.row {
    display: flex;
    /* sử dụng flexbox để căn cỡ chiều rộng các cột */
    flex-wrap: wrap;
    /* cho phép các cột xuống dòng nếu cần */
    justify-content: space-between;
    /* căn các cột vào hai mép của footer */
}

.col-md-4 {
    width: 21%;
    /* chiều rộng của mỗi cột */
}

.thongbaocongthuong>img
{
    margin-left: 50px;
    width: 360px;
    height: 140px;
}

h3 {
    font-size: 20px;
    /* cỡ chữ của tiêu đề */
    margin-bottom: 20px;
    /* khoảng cách giữa tiêu đề và phần nội dung */
}

ul {
    list-style-type: none;
    /* loại bỏ các dấu đầu dòng của danh sách */
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
    /* khoảng cách giữa các mục danh sách */
}

a {
    color: #ffffff;
    /* màu chữ của các liên kết */
    text-decoration: none;
    /* loại bỏ gạch chân */
}

a:hover {
    color: rgb(10, 10, 241);
}

a i {
    color: #000;
}
#d
{
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

#d .r {
    margin-right: 50px;
    float: right;
}
#d .l {
    margin-left: 50px;
    float: left;
}

#n
{
    padding: 15px;
    padding-bottom: 10px;
    width: 500%;
    height: auto;
    display:flex;
    justify-content: space-between;
}
#n img
{
    margin-left: 1px;
    width: 250px;
    height:auto
}



.foot {
 display:inline;
    line-height: 70px;
}

.content img {
 height:95px;
    width: 90px;
    float:left;
}

.col-md-4 li
{
    font-size: 20px;
    color: rgb(255, 255, 255);
}